<section class="comments-area">
    <div class="comments square grid-12"  ng-hide="main.getLoadingStatus()">
        <!-- edit area -->
        <form class="form" novalidate name="newCommentForm" ng-submit="vm.submitForm(newCommentForm)">
            <input class="grid-3 name" placeholder="name" name="name" ng-model="vm.newComment.name" required ng-disabled="true" ng-minlength="3 "ng-maxlength="30"/>
            <span class="grid-1"></span>
            <input class="grid-8 email" placeholder="email" type="email" name="email" ng-model="vm.newComment.email" required ng-disabled="true" ng-minlength="3" ng-maxlength="50"/>
            <span class="grid-12"></span>
            <textarea class="grid-12 description" required placeholder="comment here" name="description" ng-model="vm.newComment.description" ng-minlength="1" ng-maxlength="1000"></textarea>
            <button type="button" class="grid-5 button fi-x" ng-click="vm.cancelCreateComment()"></button>
            <span class="grid-2"></span>
            <button class="grid-5 button save fi-save" type="submit" ng-disabled="vm.disableSubmitButton(newCommentForm)"></button>
        </form>
    </div>
</section>
