<section class="comments-area">
    <div class="comments square grid-12"  ng-hide="main.getLoadingStatus()">
        <!-- list area -->
        <div class="comment-list-area">
            <a href="" class="menu grid-6 animate-show" ng-class="{'fi-align-justify': !vm.menuVisible, 'fi-minus ': vm.menuVisible}" ng-click="vm.menuVisible = !vm.menuVisible"></a>
            <div class="animate-show" ng-show="vm.menuVisible">
                <a href="" class="hide grid-6 fi-info" ng-click="vm.hideComments()"></a>
                <a href="" class="show grid-6 fi-comment" ng-click="vm.showCreateComment()"></a>
                <a href="" class="userdata grid-6 fi-torso" ng-click="vm.gotoUserData()"></a>
                <a href="" class="logout grid-6 fi-power" ng-click="vm.doLogout()"></a>
            </div>
            <div class="comment-list" ng-if="vm.comments.length > 0">
                <article ng-repeat="(index, comment) in vm.comments | orderBy: 'date_created' : true">
                    <div class="grid-12 row">
                        <span class="grid-4 name">{{comment.get('name')}}</span>
                        <div ng-if="vm.verifyUserCanEditOrRemove(comment)">
                            <a href="" class="grid-2 remove fi-trash" ng-class="{mobile: vm.browser.mobile}" ng-click="vm.removeComment(comment)"></a>
                            <a href="" class="grid-2 edit fi-pencil" ng-class="{mobile: vm.browser.mobile}" ng-click="vm.showEditionComment(comment)"></a>
                        </div>
                        <span class="grid-6 date">{{vm.getCommentDate(comment) | date: 'dd/MM/yyyy HH:mm'}}</span>
                        <p class="grid-12 description" ng-bind-html="comment.get('description') | nl2br"></p>
                    </div>
                </article>
            </div>
            <p ng-if="vm.comments.length == 0" class="grid-12">No comments. Be the first!</p>
        </div>
    </div>
</section>
