<section class="intro-area">
    <div class="intro square grid-12"  ng-hide="main.getLoadingStatus()">
        <!-- edit area -->
        <picture class="picture grid-12">
            <source class="img animate-show" media="(min-width: 64em)" ng-srcset="assets/img/oak.png" fade-in>
            <source class="img animate-show" media="(min-width: 37.5em)" ng-srcset="assets/img/oak.png" fade-in>
            <source class="img animate-show" ng-srcset="assets/img/oak.png" fade-in>
            <img class="img animate-show" ng-src="assets/img/oak.png" fade-in>
        </picture>
        <div class="grid-12 disclaimer">
            <p class="message animate-show" ng-show="vm.displayMessage(1)">Hello there!<br>Welcome to the world of POKEMON!</p>
            <p class="message animate-show" ng-show="vm.displayMessage(2)">My name is OAK!<br>People call me the POKEMON PROF!</p>
            <p class="message animate-show" ng-show="vm.displayMessage(3)">This world is inhabited by creatures called POKEMON!</p>
            <p class="message animate-show" ng-show="vm.displayMessage(4)">For some people, POKEMON are pets.<br>Others use them for fights. Myself... I study POKEMON as a profession.</p>
            <p class="message animate-show" ng-show="vm.displayMessage(5)">Are you <span class="icon fi-male-symbol"></span> or <span class="icon fi-female-symbol"></span>?<br>Just joking hahahahah!</p>
            <p class="message animate-show" ng-show="vm.displayMessage(6)">To begin, please fill information regarding your login on Pokedex or create a new account!</p>
            <button class="grid-12 button next fi-play" ng-click="vm.getNextMessage()"></button>
        </div>
    </div>
</section>
