<!-- pokemon info area -->
<article class="pokemon square" ng-hide="main.getLoadingStatus()">
    <div class="menu">
        <a href="" class="option grid-4 fi-previous" ng-click="vm.previousPokemon()" ng-disabled="vm.previousButtonDisabled"></a>
        <a href="" class="option grid-4 fi-thumbnails" href="" ng-click="vm.backToListing()"></a>
        <a href="" class="option grid-4 fi-next" ng-click="vm.nextPokemon()" ng-disabled="vm.nextButtonDisabled"></a>
    </div>

    <picture class="picture grid-6">
        <source class="img animate-show" media="(min-width: 64em)" ng-srcset="{{vm.pokemon.image}}" fade-in>
        <source class="img animate-show" media="(min-width: 37.5em)" ng-srcset="{{vm.pokemon.image}}" fade-in>
        <source class="img animate-show" ng-srcset="{{vm.pokemon.image}}" fade-in>
        <img class="img animate-show" ng-src="{{vm.pokemon.image}}" fade-in>
    </picture>

    <div class="info grid-6">
        <span class="status grid-12">No. {{vm.pokemon.national_id}}</span>
        <span class="status grid-12">{{vm.pokemon.info.name}}</span>
        <span class="status grid-12">Attack</span>
        <span class="status grid-12">{{vm.pokemon.info.attack}}</span>
        <span class="status grid-12">Defense</span>
        <span class="status grid-12">{{vm.pokemon.info.defense}}</span>
   </div>

   <p class="description grid-12">{{vm.pokemon.description}}</p>

   <a href="" class="view grid-12 fi-comments" href="" ng-click="vm.showComments()"></a>
</article>
