<!-- list area -->
<div class="square listing grid-12" ng-hide="main.getLoadingStatus()">
    <article class="grid-12 list" ng-repeat="(index, pokemon) in vm.pokedexData">
        <a ng-click="vm.getPokemon(pokemon, index)" class="item"><span>{{pokemon.name}}</span></a>
    </article>
</div>
