<section class="user-area">
    <div class="user square grid-12" ng-hide="main.getLoadingStatus()">
        <!-- edit area -->
        <form class="grid-12 form" novalidate name="newUserForm" ng-submit="vm.submitForm(newUserForm)">
            <p ng-if="vm.getFormBehaviour('login')">To login, enter your information below:</p>
            <p ng-if="vm.getFormBehaviour('edit')">Enter your information below:</p>
            <div class="grid-12 separator"></div>
            <input class="grid-12 name" placeholder="name" name="name" ng-model="vm.newUser.name" required ng-disabled="vm.getFormBehaviour('disable')" ng-minlength="3 "ng-maxlength="30"/>
            <input class="grid-12 email" placeholder="email" type="email" name="email" ng-model="vm.newUser.email" required ng-minlength="3" ng-maxlength="50" ng-if="vm.getFormBehaviour('edit')"/>
            <input class="grid-12 password" placeholder="password" type="password" name="password" ng-model="vm.newUser.password" required ng-minlength="4" ng-maxlength="8"/>
            <span class="grid-12 error"><p class="animate-show" ng-show="vm.errorMessage">{{vm.errorMessage}}</p></span>
            <div class="grid-12 separator"></div>
            <div ng-if="vm.getFormBehaviour('edit')">
                <button class="grid-5 button fi-x" type="button" ng-click="vm.cancelCreateUser()"></button>
                <span class="grid-2"></span>
                <button class="button save grid-5 fi-save" type="submit" ng-disabled="vm.disableSubmitButton(newUserForm)"></button>
            </div>
            <div ng-if="vm.getFormBehaviour('login')">
                <button class="grid-5 button new fi-plus" type="button" ng-click="vm.createUser(newUserForm)"></button>
                <span class="grid-2"></span>
                <button class="button save grid-5 fi-check" type="submit" ng-disabled="vm.disableSubmitButton(newUserForm)"></button>
            </div>

        </form>
    </div>
</section>
