/* The starting CSS styles for the enter animation */
.fade.ng-enter {
    @include transition (0.5s linear all);
    opacity:0;
}

/* The finishing CSS styles for the enter animation */
.fade.ng-enter.ng-enter-active {
    opacity:1;
}

.fade.ng-hide-add, .fade.ng-hide-remove {
    opacity:1;
}

.fade.ng-hide {
    @include transition (0.01s linear all);
    opacity:0;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
    transition: all linear 0.5s;
    display: block !important;
}

.animate-show.ng-hide-add.ng-hide-add-active, .animate-show.ng-hide-remove {
    opacity: 0;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
}
