/* Box */
.square {
    float: left;
    border: 8px solid #bfbfbf;
    border-radius: 8px;
    background-color: #376092;
    box-shadow: 4px 4px 8px #404040, -4px 4px 8px #404040, 4px -4px 8px #404040;
    padding: 10px;
    color: white;
    a {
        color: white;
    }
}
