/*buttons*/
.button {
    height: 40px;
    border-radius: 9px;
    border: 0;
    font-size: 40px;
    &:enabled {
        @include state-enabled;
    }
    &:hover {
        @include state-hover;
    }
    &:active {
        @include state-active;
    }
    &:disabled {
        @include state-disabled;
    }
}
