.form {
    .ng-invalid.ng-touched {
        border: 3px solid red;
        @include transition(all 1s);
    }
    input:disabled {
        @include state-disabled;
    }
    textarea {
        height: 114px;
        width: 100%;
    }
    input:not(.button) {
        height: 30px;
        width: 100%;
    }
    .separator {
        height: 30px;
    }
}
