<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script>
	//debugger;
	$(document).ready(function(){	
		for(var i=1; i < 2; i++) {
			$.get("http://pokeapi.co/api/v1/pokedex/1", function(data) {
				var pokedexordered = [];
				for(var i=0; i< data.pokemon.length; i++){					
					pokedexordered[data.pokemon[i]['resource_uri'].replace(/.*\/([0-9].*)\/$/, '$1')] = data.pokemon[i];
				}
				getSprite(pokedexordered, 1);
			});			
		}
		function getSprite(pokedexdata, index) {			
			if(pokedexdata[index] == undefined) {
				for(var i=index+1; i<pokedexdata.length; i++){
					if(pokedexdata[i] != undefined) {
						return getSprite(pokedexdata, i);
					}
				}
			}
			$.get("http://pokeapi.co/"+pokedexdata[index]['resource_uri'], function(data) {
				if(data.sprites.length > 0) {
					for(var i=0; i< data.sprites.length; i++){
						$.get("http://pokeapi.co"+data.sprites[i]['resource_uri'], function( data ) {
							index++;
							if(index < pokedexdata.length) {
								setSprites(data.image);
								return getSprite(pokedexdata, index);
							} else {
								return;
							}
						});
					}
				}
			});
		}
		var maxheight=0;
		function setSprites(image) {
			$("body").append("<img src='http://pokeapi.co"+image+"'/>");			
			$("img").load(function(event, element) {					
				if($(this).height() > maxheight) {
					maxheight = $(this).height();
					console.log(maxheight);
				}
			});
			
		}
	});
	
</script>
