.view {
	position: absolute;
    left: 0;
    bottom: 0;
    width: 90%;
    margin-left: 5%;
}

.comments-area {
	height: 100%;
}

.comments {
	text-align: left !important;
	word-wrap: break-word;
	height: 100%;
	.row {
		text-align: left;
		position: relative;
	}
	.row:hover {
		@include state-hover;
		.remove, .edit{
			opacity: 1;
			visibility: visible;
			@include transition(all 1s);
		}
	}
	.menu:hover, .hide:hover, .show:hover, .remove:hover, .edit:hover, .userdata:hover, .logout:hover {
		color: yellow;
		@include transition(color 1s);
	}
	.comment-list-area {
		height: 100%;
	}
	.comment-list {
		height: 90%;
		overflow: auto;
		clear: both;
	}
	.menu, .hide, .show, .userdata, .logout {
		float: left;
	    top: 0;
	    right: 0;
	    font-size: 26px;
	    height: 26px;
    	width: auto;
    	border: 0;
    	color: white;
    	background-color: transparent;
	}
	.remove, .edit {
		opacity:0;
		visibility: hidden;
		float: right;
	    top: 0;
	    right: 0;
	    position: absolute;
	    font-size: 26px;
	    height: 26px;
    	width: auto;
    	border-radius: 50%;
	}
	.mobile.remove, .mobile.edit {
		opacity:1;
		visibility: visible;
	}
	.name, .date, .email, .description {
		text-align: left;
		width: 100%;
	}
	.name, .email {
		height: 30px;
	}
	.edit {
		right: 25px;
		padding-right: 10px;
	}
	.description {
		word-break: break-word;
		height: 100%;
	}
}

/*breakpoints*/
@include respond-to(small) {
	.comments {
		.name {
			width: 30%;
		}
		.date {
			width: 60%;
		}
		.email {
			width: 70%;
		}
		.description {
			width: 100%;
		}
	}
}
@include respond-to(medium) {

}
@include respond-to(large) {
	.comments {
		.name {
			height: 40px;
		}
		.email {
			height: 40px;
			width: 100%;
		}
	}
}
