/*breakpoints*/
@include respond-to(small) {
	.comments {
		.form {
			.name {
				width: 25%;
			}
			.email {
				width: 66.66667%;
			}
			.description {
				height: 150px;
			}
		}
	}
}
@include respond-to(medium) {

}
@include respond-to(large) {
	.comments {
		.form {
			.description {
				width: 100%;
			}
		}
	}
}

