.intro-area {
	height: 100%;
}

.intro {
	height: 100%;
	overflow: hidden;
	position: relative;
	.picture {
		width:	40%;
		margin-left: 30%;
		margin-right: 30%;
    	.img {
            display: block;
            width: 100% !important;
            height: auto !important;
        }
    }
	.disclaimer {
		margin-top: 20px;
	}
	.message {
		text-align: left;
		line-height: 150%;
	}
	.next {
		position: absolute;
	    bottom: 0;
	    left: 0;
	    margin-left: 5%;
	    width: 90%;
	}
	.icon {
		font-size: 24px;
	}
}

/*breakpoints*/
@include respond-to(small) {
	.intro {
		.picture {
			margin: 0;
		}
		.disclaimer {
			width: 60%;
		}
	}
}
@include respond-to(medium) {
}
@include respond-to(large) {
}
