#pokedex {
    height: 100%;
    background-color: $medium_red;
    border: 8px solid #3a1209;
    border-radius: 40px;
}

#ui-view {
    height: 100%;
}

.loading-container {
    height: 100%;
    position: relative;
    width: 100%;

    .img-container {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        text-align:center; /* Align center inline elements */
        .centerer {
            display: inline-block;
            vertical-align: middle;
            height: 100%;
        }
        .loading {
            vertical-align: middle;
            display: inline-block;
            max-height: 100%;  /* <-- Set maximum height to 100% of its parent */
            max-width: 100%;   /* <-- Set maximum width to 100% of its parent */
        }
    }
}

.logo{
    background: url(../img/pokedex_logo.png) no-repeat center top;
    display: inline-block;
    height: 10%;
    background-size: contain;
}

.panel {
    text-align: center;
    height: 80%;
    padding: 0 10% 0 10%;
}

.listing {
    overflow: auto;
    height: 100%;
}

.list {
    width: 100%;
}

.item{
    &:hover {
        @include state-hover;
    }
    &:active {
        @include state-active;
    }
}

/*breakpoints*/
@include respond-to(small) {
    .logo {
        height: 90px;
        background-size: contain;
    }
}
@include respond-to(medium) {
    .menu {
        margin-bottom: 0;
    }
    .list {
        width: 50%;
    }
}
@include respond-to(large) {
    .list {
        width: 33.33333%;
    }
}
