.pokemon {
    height: 100%;
    position: relative;
    .picture {
        margin: 0;
        width: 50%;
        .img {
            display: block;
            width: 100% !important;
            height: auto !important;
        }
    }
    .info {
        margin: 0;
        width: 50%;
    }
    .view {
        font-size: 30px;
        &:hover {
            color: yellow;
            @include transition(color 1s);
        }
    }
    .menu {
        height: 40px;
        margin-bottom: 20px;
    }
    a.option {
        font-weight: bold;
        font-size: 30px;
        padding-top: 4px;
        margin: 0;
        height: 45px;
    }
    .option {
        &:hover {
            color: yellow;
            @include transition(color 1s);
        }
        &:active {
            @include state-active;
        }
    }
    .description {
        text-align: left;
    }
}

/*breakpoints*/
@include respond-to(small) {
    .pokemon {
        .view {
            font-size: 40px;
        }
        a.option {
            font-size: 40px;
            padding-top: 0;
        }
        .picture {
            width: 30%;
        }
        .info {
            width: 70%;
        }
        .status {
            height: 45px;
            width: 50%;
        }
    }
}
@include respond-to(medium) {
    .pokemon {
        .menu {
            margin-bottom: 0;
        }
        .info {
            width: 70%;
            font-size: 20px;
            margin-top: 10%;
        }
        .status {
            width: 50%;
        }
    }
}
@include respond-to(large) {
    .pokemon {
        .info {
            margin-top: 5%;
        }
        .status {
            height: 50px;
        }
    }
}
