.user-area {
	height: 100%;
}

.user {
	height: 100%;
	padding-top: 5%;
	.form {
		.name, .email, .password {
			width: 100%;
		}
		.error {
			color: yellow;
			height: 30px;
		}
	}
}

/*breakpoints*/
@include respond-to(small) {
	.user {
		.form {
			.name, .email, .password {
				width: 50%;
				margin-left: 25%;
				margin-right: 25%;
			}
		}
	}
}
@include respond-to(medium) {
}
@include respond-to(large) {
}
