*, h2, a {
    box-sizing: border-box;
    font-family: $font_family;
    font-size: $font_size_small;
    @include respond-to(small) {
        font-size: $font_size_medium;
    }
    @include respond-to(medium) {
        font-size: $font_size_medium;
    }
    @include respond-to(large) {
        font-size: $font_size_large;
    }
    text-align: center;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0 5% 0 5%;
    @include linear-gradient-left($background_first_color, $background_last_color);
}

[class*="grid-"] {
    float: left;
    padding: 0 $grid-gutter;
    margin-bottom: 10px;
}

@for $i from 1 through $grid-columns {
    .grid-#{$i} {
        width: 100% / $grid-columns * $i;
    }
}

form input, form textarea{
    text-align: left;
}
form input.button {
    text-align: center;
}

a {
    cursor: pointer;
}
