@mixin respond-to($name) {
    // If the key exists in the map
    @if map-has-key($breakpoints, $name) {
        // Prints a media query based on the value
        @media #{inspect(map-get($breakpoints, $name))} {
            @content;
        }
    }

    // If the key doesn't exist in the map
    @else {
        @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
            + "Please make sure it is defined in `$breakpoints` map.";
    }
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}

@mixin word-wrap() {
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
}

@mixin ellipsis() {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@mixin transition($transition...) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -o-transition: $transition;
    -ms-transition: $transition;
    transition: width $transition;
}

@mixin border-shadow($border_color, $shadow_color) {
	border: solid 2px $border_color;
	box-shadow: 1px 1px 1px $shadow_color, -1px 1px 1px $shadow_color;
}

@mixin border-row($border_color, $shadow_color, $background_first_color, $color) {
    @include border-shadow($border_color, $shadow_color);
    @include radial-gradient(top left, $background_first_color, $background_last_color);
	color: $color;
}

@mixin radial-gradient($direction, $first_color, $last_color) {
    background: -webkit-radial-gradient($direction, $first_color, $last_color);
    background: -moz-radial-gradient($direction, $first_color, $last_color);
    background: -o-radial-gradient($direction, $first_color, $last_color);
    background: -ms-radial-gradient($direction, $first_color, $last_color);
    background: radial-gradient(at $direction, $first_color, $last_color);
}

@mixin linear-gradient-left($first_color, $last_color) {
    background: -webkit-linear-gradient(left, $first_color, $last_color);
    background: -moz-linear-gradient(left, $first_color, $last_color);
    background: -o-linear-gradient(left, $first_color, $last_color);
    background: -ms-linear-gradient(left, $first_color, $last_color);
    background: linear-gradient(right, $first_color, $last_color);
}

@mixin state-enabled() {
    color: white;
    background-color: $medium_blue;
    text-decoration: none;
    box-shadow: 1px 1px 1px $light_grey;
    @include transition(all 1s);
}

@mixin state-hover {
    color: $light_blue;
    background-color: $dark_blue;
    box-shadow: 1px 1px 1px $medium_blue;
    @include transition(all 1s);
}

@mixin state-active {
    color: $medium_blue;
    background-color: white;
    box-shadow: 1px 1px 1px $medium_blue;
    @include transition(all 1s);
}

@mixin state-disabled {
    color: $medium_grey;
    border: solid 2px $medium_grey;
    background-color: white;
    box-shadow: 1px 1px 1px $medium_blue;
    @include transition(all 1s);
}
