/*Variables*/
$breakpoints: (
    'small'  : ( min-width: 480px ),
    'medium' : ( min-width: 768px ),
    'large'  : ( min-width: 992px )
);

/*grid*/
$grid-gutter: 2px; // spacing between columns
$grid-columns: 12; // columns qty
$grid-max: 992px; // container width

/*row*/
$row_compressed: 38px;
$row_expanded: 265px;

/*square*/
$square_height_min: 200px;
$square_height_max: 280px;
$square_width: 199px;

/*fonts*/
$font_family: 'Pokemon-GB';
@font-face {
    font-family: $font_family;
    src: url('../font/pokemon-gb/Pokemon_GB.eot'); /* IE9 Compat Modes */
    src: url('../font/pokemon-gb/Pokemon_GB.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/pokemon-gb/Pokemon_GB.woff') format('woff'), /* Modern Browsers */
    url('../font/pokemon-gb/Pokemon_GB.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../font/pokemon-gb/Pokemon_GB.svg') format('svg'); /* Legacy iOS */
}

$font_size_small: 10px;
$font_size_medium: 12px;
$font_size_large: 16px;

/*colors*/
$light_blue : #ccdceb;
$medium_blue : #427fb3;
$dark_blue : #1d2d58;

$light_green : #d2e1cd;
$medium_green : #548039;;
$dark_green : #496547;

$light_red: #feebeb;
$medium_red: #be0712;
$dark_red: #c52b38;

$light_grey: #e7e9ec;
$medium_grey: #cacccd;
$dark_grey: #8b8d97;

$background_first_color: #f5f9c4;
$background_last_color: #ffffff;

$progress_bar_border_color: #c7c7c7;
$progress_bar_inner_color: #d8d8d8;
$progress_bar_outer_color: #5e9cd3;
